

    <div id="loading" data-bind="visible: noElements">
        <span>Loading</span>
        <div class="dotsContainer">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
        </div>
    </div>



        <!-- Favourite Questions-->
        <h1 id="Home_title">Recommended Questions</h1>

        <div>
            <span class="customefieldtitle">Selected Post Limit: </span> <span data-bind="text:postlimit"></span>
        </div>


        <div>
            <span class="customefieldtitle">Your Favourite Tags: </span> <span data-bind="foreach:favortietags">

                <span class="questions_tags" data-bind="text:$data"></span>
            </span>
        </div>

        <div class="questions_container" data-bind="foreach: recommendedQuestions">
          <div class="question_container" data-bind="visible: (postId!==0),click: $parent.gotoquestion.bind($parent, postId, $root)">
                <div class="questions_title"><span data-bind="text: title"></span></div>
                <div class="questions_user"><span class="user_icon"></span><span class="questions_user_name" data-bind="text: user"></span></div>
               <span class="tags_icon"></span><div class="questions_tags_container" data-bind="foreach:tags"><span class="questions_tags" data-bind="text:$data"></span></div>
              <div class="Questions_score_block">
                  <span class="question_score_sign">&#x270C;</span><div data-bind="text: score" id="score"></div>
              </div>
              </div>
        <div id="no_matching_post" data-bind="visible: (postId===0)">
          
            There's no matching post according to your favourite tags
        </div>
        
        </div>
       
       
            <div class="spacer"></div>
       
       
