<head>
    <link rel="stylesheet" type="text/css" href="scripts/lib/StyleSheet1.css">
</head>

<h3>Answers</h3>
<div data-bind="foreach: answers">
    <div class="each_answer">
        <div class="questions_user"><span class="user_icon"></span><span class="questions_user_name" data-bind="text: userName"></span></div>
        <br />
        <span class="time_icon"></span><span data-bind="text: creationDate" id="date"></span>
        <span class="answerscore"><span class="score_sign">&#x270C;</span><span data-bind="text: score"></span></span>
        <span class="answer_body" data-bind="html: body" id="body"></span>
        <!--Comments-->
        <div class="row">
            <div class="col-xs-12 col-sm-11 col-sm-offset-1 col-md-11 col-md-offset-1 col-lg-11 col-lg-offset-1">
                <div data-bind="component: {name: $parent.commentsComponent, params: {commentsUrl: commentsUrl}}"></div>
            </div>
        </div> 
    </div>

  </div>
