<head>
    <link rel="stylesheet" type="text/css" href="scripts/lib/StyleSheet1.css">
</head>

<div class="accordion-group" data-bind="visible:containsElements">
    <div class="accordion-heading">
     <div class="comments_opener accordion-toggle" data-toggle="collapse-next">
         <span class="comments_total" data-bind="text: total"></span>
            <h3 id="comment_h1">Comments</h3>
            <span id="triangle_down">&#9660;</span>
        </div>
    </div>
    
    <div class="accordion-body collapse out">
     
            <div class="comments_main accordion-inner" data-bind="foreach: comments">
                <div class="comments_block">
                    <div class="questions_user"><span class="user_icon"></span><span class="questions_user_name" data-bind="text: userName"></span></div>
                    <br />
                    <span class="time_icon"></span><span data-bind="text: creationDate" id="date"></span>
                    <span class="answerscore"><span class="score_sign">&#x270C;</span><span data-bind="text: score"></span></span>
                    <span class="answer_body" data-bind="html: body" id="body"></span>
                </div>

            
        </div>
    </div>
</div>